{% extends 'layout' %}

{% block contents %}
	{% if page.nav.username %}
	<div class="row">
		<div class="col-md-12">
		<a href="/page/edit/{{id}}">Edit</a>
		</div>
	</div>
	{% endif %}
    <div class="row">
        <div class="col-md-12">
			<div id="page-content">
			    {{ content|raw }}
			</div>
		</div>
    </div>
   
{% endblock %}

