{% extends 'headless-layout' %}


{% block contents %}
<div class="col-md-4 col-md-offset-4">
   <div class="panel panel-default">
       <div class="panel-body">
           <div class="text-center">
               <h3><i class="fa fa-lock fa-4x"></i></h3>
               <h2 class="text-center">Forgot Password?</h2>
               <p>You can reset your password here.</p>
               <div class="panel-body" id="password-reset-form">
				{% import 'bs3-forms' as forms %}
				{{ forms.start() }}
                     <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                     	 </div>
                      </div>

				     <div class="form-group">
						<div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
					</div>

                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                      </div>

				{{ forms.end() }}
                </div>
           </div>
      </div>
   </div>
</div>


<!-- Modal -->
  <div class="modal fade" id="msg" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Password Reset Request</h4>
        </div>
        <div class="modal-body">
          <p>A password reset message was send to your email address</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

{% endblock %}

{% block extra_footers %}
<script>
$('#msg').on('hidden.bs.modal', function () {
    location.assign('') ;});

$("#password-reset-form").form({ url: "user/password/", onSuccess: function() { 
	$("#msg").modal("show")
}}) ;

</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
