{% extends 'headless-layout' %}

{% block contents %}
	
    <div class="row">
        <div class="col-md-6">
		<div id="password-reset-form">
		{% import 'bs3-forms' as forms %}
		{{ forms.start() }}
		{{ forms.input('email', type='text', label='E-mail', required = true) }}
 		<div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
      <br/>
		{{ forms.button('Submit') }}
		{{ forms.end() }}
		</div>
	</div>
    </div>
   
{% endblock %}

{% block extra_footers %}
<script>
$("#password-reset-form").form({ onSuccess: function() { 
	location.assign(''); 
}}) ;

</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
